@font-face {
   font-family: 'Montserrat-Thin';
   font-display: swap;
   src: url('file:///C:/Users/plnmi/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-11-23_113552/fonts/Montserrat-Thin/font.ttf');
}
