@font-face {
   font-family: 'iCiel Medium';
   font-display: swap;
   src: url('file:///C:/Users/plnmi/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-11-27_223920/fonts/iCiel%20Medium/font.ttf');
}
