@font-face {
   font-family: 'HomepageBaukasten-Book';
   font-display: swap;
   src: url('file:///C:/Users/plnmi/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-11-26_170745/fonts/HomepageBaukasten-Book/font.ttf');
}
